/* --------------------------<FONTS>-------------------------- */
@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
/* --------------------------</FONTS>-------------------------- */

/* --------------------------<HTML>-------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
/* --------------------------</HTML>-------------------------- */

/* --------------------------<BODY>-------------------------- */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

/* --------------------------<HEADER>-------------------------- */
header {
  position: relative;
  height: 80px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.wrapper__header {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  margin-right: 63px;
}

.logo-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  text-align: center;
  margin: 0;
}

.logo-svg {
  position: absolute;
  top: 22.5px;
  left: 9.5px;
}

.nav {
  margin-right: auto;
}

.nav-list {
  display: flex;
  list-style: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  gap: 58px;
  padding: 0;
}

li:first-child .nav-link {
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.nav-link {
  text-decoration: none;
  color: #FFFFFF;
  transition: 0.3s;
}

.nav-link:hover,
.nav-link:active,
.figma-link:hover,
.figma-link:active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.logo-link {
  text-decoration: none;
  color: #FFFFFF;
}

.figma-link {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  transition: .3s;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger:hover .svg-burger {
  fill: #FE9013;
}

.burger:active .svg-burger {
  fill: #4B9200;
}
/* --------------------------</HEADER>-------------------------- */

/* --------------------------<MAIN>-------------------------- */

/* --------------------------<SECTION 1>-------------------------- */
.section1 {
  height: 780px;
  display: flex;
  justify-content: center;
  background: url(../../assets/images/giant_panda.jpg) center top / cover no-repeat;
  margin-top: -80px;
}

.wrapper__section1 {
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.big-orange {
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  margin: 92px 108px 69px 0;
}

.text-watch {
  width: 500px;
  position: relative;
  margin: 74px 0 0 73px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 106.5px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.text-favorite {
  color: #FFEE2E;
}

.btn {
  width: 298px;
  height: 54px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn-cards:hover {
  background: #E47209;
}

.btn:active,
.btn-cards:active {
  background: #4B9200;
}

.btn-section1 {
  margin-right: 98px;
}
/* --------------------------</SECTION 1>-------------------------- */

/* --------------------------<SECTION 2>-------------------------- */
.section2 {
  height: 723px;
  display: flex;
  justify-content: center;
  background: url(../../assets/images/flower_foto.jpg) right top 12px no-repeat;
  transition: .3s;
}

.wrapper__section2 {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
}

.img-section2 {
  width: 609px;
  height: 403px;
  overflow: hidden;
  background: url(../../assets/images/bamboo-cap.jpg) center center / cover no-repeat;
}

.div-section2-text {
  width: 465px;
  height: 403px;
}

.title-section2,
.titile-description-section2,
.subtitle-section2,
.subtitle-description-section2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color: #333B41;
}

.title-section2 {
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 20px;
}

.titile-description-section2 {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 54px;
}

.subtitle-section2 {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 34px;
}

.subtitle-description-section2 {
  font-size: 16px;
  line-height: 140%;
}
/* --------------------------</SECTION 2>-------------------------- */

/* --------------------------<SECTION 3>-------------------------- */
.section3 {
  height: 1106px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../../assets/images/palm_foto.jpg) left -588px bottom no-repeat, url(../../assets/images/strelitzia.jpg) right bottom no-repeat;
}

.wrapper__section3 {
  max-width: 1158px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.container-cards {
  position: relative;
  height: 872px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: baseline;
}

.btn-cards {
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 62px;
  border: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  cursor: pointer;
  top: 50%;
}

.left {
  left: -20px;
  transform: translateY(-53%) translateX(-100%)
}

.right {
  right: -20px;
  transform: translateY(-53%) translateX(100%)
}

.border-card {
  width: 366px;
  height: 426px;
  border-radius: 5px;
  background-image: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
  padding: 1px;
}

.foto-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: #FFFFFF;
}

.foto-card img {
  border-radius: 4px;
  transition: .3s;
}

.foto-card:hover img {
  transform: scale(1.055);
}

.card-description {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 0px 10px 0 10px;
  border-radius: 4px;
}

.card-text {
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
}

.foto-card:hover .title-card,
.foto-card:hover .subtitle-card {
  color: #FFFFFF;
}

.foto-card:hover .card-text {
  transform: translateY(-80px);
  background: rgba(0, 0, 0, 0.4);

}

.title-card {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
  transition: .3s;
}

.subtitle-card {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  transition: .3s;
}
/* --------------------------</SECTION 3>-------------------------- */

/* --------------------------<SECTION 4>-------------------------- */
.section4 {
  height: 1004px;
  display: flex;
  justify-content: center;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}

.wrapper__section4 {
  max-width: 1160px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin: 69px 0 100px 0;
}

.title-section4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  margin: 41px 0 30px 0;
}

.biger-text-section4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-left: 99px;
  margin-bottom: 41px;
}

.covid-text-section4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  margin-left: 99px;
  margin-bottom: 10px;
}

.text-section4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  margin: 0 198px 60px 99px;
}

.emergency-link {
  text-decoration: none;
  color: #333B41;
}

.emergency-text {
border-bottom: solid 1px #FE9013;
padding-bottom: 1.5px;
}

.subtitle-section4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333B41;
  margin-bottom: 40px;
}

.pay-feed-block {
  display: flex;
  justify-content: space-between;
  margin: 0 198px;
}

.widjet {
  width: 168px;
  margin-bottom: 60px;
}

.border-div {
  width: 168px;
  height: 168px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  margin-bottom: 28px;
  padding: 1px;
}

.icon-div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.green-arrow {
  display: none;
}

.svg-arrow {
  margin-top: 62px;
}

.text-widjet {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
}

.btn-section4 {
  display: block;
  margin: 0 auto;
}
/* --------------------------</SECTION 4>-------------------------- */

/* --------------------------<SECTION 5>-------------------------- */
.section5 {
  height: 919px;
  background: url(../../assets/images/leav_foto.jpg) right bottom -133px no-repeat;
  padding-top: 140px;
}

.wrapper__section5 {
  max-width: 1160px;
  margin-top: 140px;
  margin: 0 auto;
}

.title-section5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333B41;
  margin-bottom: 47px;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.border-review-div {
  width: 268px;
  height: 391px;
  border-radius: 20px;
  background: 
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding: 2px;
}

.review-div {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background: #F1F3F2;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 13px 0 11px 14px;
}

.avatar {
  display: inline-block;
  border-radius: 37px;
}

.user-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}

.user-location {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}

.user-review {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
  margin: 0 13px 0 14px;
}

.scroll-border {
  width: 599px;
  height: 8px;
  background: 
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 5px;
  padding: 0.5px;
  margin: 0 auto 31px auto;
  cursor: pointer;
}

.scroll-bg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: #F5F7F6;
  border-radius: 5px;
}

.scroll {
  width: 115px;
  height: 6px;
  background: #FE9013;
  border-radius: 5px;
}

.btn-section5 {
  border-radius: 5px;
  margin: 0;
}
/* --------------------------</SECTION 5>-------------------------- */

/* --------------------------<FOOTER>-------------------------- */
footer {
  /* min-width: 1600px; */
  height: 443px;
  background: #111115;
}

.wrapper__footer {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  padding: 40px 0 50px 0;
}

.left-footer {
  margin-right: 101px;
}

.logo-footer {
  display: flex;
  align-items: center;
  position: relative;
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  margin-right: 63px;
  margin-bottom: 68px;
}

.logo-text-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  text-align: center;
  margin: 0;
}

.logo-svg-footer {
  position: absolute;
  top: 20px;
  left: 9.5px;
}

.btn-footer {
  border-radius: 5px;
  margin-bottom: 44px;
}

.btn-link {
  text-decoration: none;
}

.mobile {
  display: none;
}

.logo-social {
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  background: rgba(196, 196, 196, 0.5);
  margin-right: 12px;
}

.social-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  gap: 10px;
  padding: 0;
}

.social-link {
  text-decoration: none;
  color: #FFFFFF;
  transition: 0.3s;
}

.social-link:hover,
.social-link:active {
  color: #4B9200;
}

.social-link:hover .logo-social,
.social-link:active .logo-social {
  background: #4B9200;
}

.center-footer {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
}

.nav-list-footer {
  display: flex;
  list-style: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  gap: 58px;
}

.right-footer {
  height: 353px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.email-input {
  width: 228px;
  height: 42px;
  background: #111115;
  border: none;
  outline: none;
  border: solid 0.7px #FE9013;
  border-radius: 2px;
  padding: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
  margin-right: 5px;
}

.email-input::-webkit-input-placeholder {
  color: #BDBDBD;
  opacity: 1;
}

.email-input:focus::-webkit-input-placeholder {
  color: #4B9200;
}

.email-input::-moz-placeholder {
  color: #BDBDBD;
  opacity: 1;
}

.email-input:focus::-moz-placeholder {
  color: #4B9200;
}

.email-input:focus .submit-footer,
.submit-footer:hover,
.submit-footer:active {
  border: 1px solid #4B9200;
  color: #4B9200;
}

.submit-footer {
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  cursor: pointer;
}

.right-down-footer {
  align-self: flex-end;
}

.right-down-footer :first-child {
  margin-bottom: 10px;
}

.designed-by {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  cursor: pointer;
}

.designed-by:hover,
.designed-by:active {
  color: #4B9200;
  text-decoration: underline;
}
/* --------------------------</FOOTER>-------------------------- */

/* --------------------------<ADAPTIVE>-------------------------- */

/* ----------------------<1600>---------------------- */
@media (max-width: 1600px) {
    /* ----------------------<HEADER*1600>---------------------- */
  .wrapper__header {
    margin: 0 50px;
  }
  /* --------------------------<SECTION 1*1600>-------------------------- */
  .wrapper__section1 {
    margin: 0 100px;
  }
  /* --------------------------<SECTION 2*1600>-------------------------- */
  .wrapper__section2 {
    margin: 140px 50px;
  }
  /* --------------------------<SECTION 3*1600>-------------------------- */
  .wrapper__section3 {
    margin: 0 100px 80px 100px;
  }
  /* --------------------------<SECTION 4*1600>-------------------------- */
  .wrapper__section4 {
    margin: 69px 50px 100px 50px;
  }
  /* --------------------------<SECTION 5*1600>-------------------------- */
  .section5 {
    padding: 140px 50px 0;
  }
}

/* ----------------------<1000>---------------------- */
@media (max-width: 1000px) {
  /* ----------------------<HEADER*1000>---------------------- */
  .wrapper__header {
    margin: 0 30px;
  }

  .nav-list {
    gap: 48px;
  }
  /* --------------------------<SECTION 1*1000>-------------------------- */
  .section1 {
    height: 584px;
  }
  
  .wrapper__section1 {
    margin: 0 86px;
  }
  
  .big-orange {
    width: 367px;
    height: 367px;
    border-radius: 50%;
    margin: 69px 91px 47px 0;
  }
  
  .text-watch {
    width: 400px;
    margin: 53px 0 0 58px;
    font-size: 85px;
  }

  .btn-section1 {
    margin-right: 51px;
  }

  /* --------------------------<SECTION 2*1000>-------------------------- */
  .section2 {
    height: 670px;
    background: url(../../assets/images/flower_foto.jpg) right -200px top 12px no-repeat;
  }
  
  .wrapper__section2 {
    margin: 100px 30px;
  }
  
  .img-section2 {
    width: 455px;
    height: 408px;
    margin-top: 8px;
  }
  
  .div-section2-text {
    width: 454px;
    height: 403px;
  }
  /* --------------------------<SECTION 3*1000>-------------------------- */
  .section3 {
    height: 1074px;
    background: url(../../assets/images/palm_foto.jpg) left -194px bottom / 388px no-repeat, url(../../assets/images/strelitzia.jpg) right bottom / 240px no-repeat;
  }

  .wrapper__section3 {
    margin: 0 30px 80px 30px;
  }

  .container-cards {
    height: 800px;
  }

  .border-card {
    width: 294px;
    height: 354px;
  }

  .btn-cards {
    position: static;
  }

  .left {
    margin-left: 34.4%;
    left: 0;
    transform: translateY(0) translateX(0)
  }
  
  .right {
    margin-right: 34.4%;
    right: 0;
    transform: translateY(0) translateX(0)
  }
  /* --------------------------<SECTION 4*1000>-------------------------- */
  .section4 {
    height: 876px;
  }

  .wrapper__section4 {
    width: 100%;
    margin: 30px 30px 50px 30px;
  }

  .title-section4 {
    margin: 30px 0 20px 0;
  }

  .biger-text-section4 {
    margin-bottom: 20px;
    margin-left: 49px;
  }

  .covid-text-section4 {
    width: 810px;
    margin-bottom: 10px;
    margin-left: 49px;
  }

  .text-section4 {
    width: 810px;
    margin: 0 0 40px 49px;
  }

  .pay-feed-block {
    margin: 0 88px;
  }

  .widjet {
    margin-bottom: 71px;
  }
  /* --------------------------<SECTION 5*1000>-------------------------- */
  .section5 {
    height: 842px;
    background: url(../../assets/images/leav_foto.jpg) right bottom -90px / 200px no-repeat;
    padding: 100px 0 0;
  }
  .wrapper__section5 {
    width: 100%;
    margin: 0;
    padding: 0 30px;
  }

  .title-section5 {
    margin-bottom: 0;
  }

  .testimonials {
    margin: 30px 0 20px;
  }

  .testimonials .border-review-div:nth-child(2) {
    display: none;
  }

  .testimonials .border-review-div:nth-child(3) {
    order: 1;
  }

  .border-review-div {
    width: 293px;
  }

  .scroll-border {
    width: 390px;
    margin: 0 auto 52px auto;
  }

  .scroll {
    width: 75px;
  }
  /* --------------------------<FOOTER*1000>-------------------------- */
  .wrapper__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 31px 50px;
  }

  .left-footer {
    margin: 0;
  }

  .center-footer {
    width: 20px;
  }

  .nav-footer {
    white-space: nowrap;
    position: relative;
    left: -8px;
  }

  .nav-list-footer {
    gap: 48px;
  }

  .right-up-footer {
    margin-right: 32px;
  }
}
/* ----------------------<640>---------------------- */
@media (max-width: 640px) {
    /* ----------------------<HEADER*640>---------------------- */
    header {
      height: 34px;
    }

    .wrapper__header {
      margin: 0 20px;
    }

    .logo {
      width: 47px;
      border: none;
    }
    
    .logo-text {
      font-size: 12.3px;
    }

    .logo-svg {
      width: 7.5px;
      top: 25px;
      left: 3.5px;
    }
  
    .nav, .figma-link {
      display: none;
    }

    .burger {
      display: block;
    }
  /* --------------------------<SECTION 1*640>-------------------------- */
  .section1 {
    height: 373px;
    background: url(../../assets/images/giant_panda.jpg) center bottom / cover no-repeat;
    margin-top: -34px;
  }
  
  .wrapper__section1 {
    margin: 0 72px 0 20px;
  }
  
  .big-orange {
    width: 238px;
    height: 238px;
    border-radius: 50%;
    margin: 44px 0 0;
  }
  
  .text-watch {
    width: 256px;
    margin: 38px 0 0 38px;
    font-size: 54.3px;
  }

  .btn-section1 {
    align-self: flex-start;
    margin: -3px 0 0;
  }
  /* --------------------------<SECTION 2*640>-------------------------- */
  .section2 {
    height: 507px;
    background: url(../../assets/images/flower_foto.jpg) right -30px top -5px / 160px no-repeat;
  }
  
  .wrapper__section2 {
    margin: 60px 80px 0 20px;
  }
  
  .img-section2 {
    display: none;
  }
  
  .div-section2-text {
    width: 495px;
    height: 403px;
  }

  .title-section2, .subtitle-section2 {
    margin: 0 0 20px 4px;
  }

  .titile-description-section2 {
    margin-bottom: 30px;
  }
  /* --------------------------<SECTION 3*640>-------------------------- */
  .section3 {
    height: 970px;
    background: url(../../assets/images/palm_foto.jpg) left -248px bottom / 380px no-repeat, url(../../assets/images/strelitzia.jpg) right bottom / 174px no-repeat;
  }

  .wrapper__section3 {
    margin: 0 20px 60px 20px;
  }

  .container-cards {
    height: 756px;
  }

  .container-cards .border-card:nth-child(3),
  .container-cards .border-card:nth-child(6) {
    display: none;
  }

  .border-card {
    width: 285px;
    height: 332px;
  }

  .btn-cards {
    position: static;
  }

  .left {
    margin-left: 37.2%;
    left: 0;
    transform: translateY(-4px) translateX(0)
  }
  
  .right {
    margin-right: 37.2%;
    right: 0;
    transform: translateY(-4px) translateX(0)
  }

  .card-description {
    padding: 0px 2px 0 6px;
  }

  .title-card {
    font-size: 12.5px;
  }
  
  .subtitle-card {
    font-size: 11.7px;
  }

  .svg-food {
    height: 28px;
  }
  /* --------------------------<SECTION 4*640>-------------------------- */
  .section4 {
    height: 781px;
  }

  .wrapper__section4 {
    width: 100%;
    margin: 20px 0 20px;
    padding: 0 20px;
  }

  .title-section4 {
    font-size: 42px;
    margin: 10px 0 20px;
  }

  .biger-text-section4 {
    margin: 0 0 20px;
    font-size: 22px;
  }

  .covid-text-section4 {
    width: 100%;
    margin: 0 0 10px;
  }

  .text-section4 {
    width: 100%;
    margin: 0 0 30px;
  }

  .subtitle-section4 {
    margin-bottom: 20px;
  }

  .pay-feed-block {
    display: flex;
    justify-content: space-between;
    margin: 0 12px 0 0;
  }

  .green-arrow {
    display: block;
    position: absolute;
    top: -17px;
    right: -58px;
    z-index: 1;
  }

  .svg-arrow {
    display: none;
  }

  .widjet {
    margin-bottom: 40px;
  }
  /* --------------------------<SECTION 5*640>-------------------------- */
  .section5 {
    height: 668px;
    background: url(../../assets/images/leav_foto.jpg) right -5px bottom -68px / 122px no-repeat;
    padding: 60px 0 0;
  }
  .wrapper__section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }

  .title-section5 {
    margin-bottom: 0;
  }

  .testimonials {
    flex-direction: column;
    gap: 15px;
    margin: 30px 0 40px;
  }

  .testimonials .border-review-div:nth-child(2) {
    display: none;
  }

  .testimonials .border-review-div:nth-child(3) {
    order: 1;
  }

  .border-review-div {
    width: 100%;
    height: 109px;
  }

  .user-info {
    padding: 13px 0 12px 10px;
  }

  .user-review {
    height: 38px;
    overflow: hidden;
  }

  .scroll-border {
    display: none;
  }

  .btn-section5 {
    width: 240px;
  }
  /* --------------------------<FOOTER*640>-------------------------- */
  footer {
    width: 100%;
    height: 282px;
  }

  .wrapper__footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px 20px;
  }

  .left-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .logo-footer {
    margin-bottom: 33px;
  }

  .btn-footer-link {
    align-self: flex-end;
    text-decoration: none;
  }

  .btn-footer {
    margin-bottom: 44px;
  }

  .logo-social {
    margin: 0;
  }

  .social-list {
    gap: 20px;
  }

  .nav-footer {
    position: relative;
    top: 52px;
    left: 0;
  }

  .nav-list-footer {
    gap: 37px;
  }

  .right-footer {
    height: 100%;
    margin-left: auto;
  }

  .title-footer, .email-form, .text-social {
    display: none;
  }
}
/* ----------------------</640>---------------------- */
/* ----------------------<320>---------------------- */
@media (max-width: 320px) {
  /* ----------------------<HEADER*320>---------------------- */
  .wrapper__header {
    margin: 0 10px;
  }
  /* --------------------------<SECTION 1*320>-------------------------- */
  .section1 {
    height: 187px;
    background: url(../../assets/images/giant_panda.jpg) center bottom / cover no-repeat;
    margin-top: 0;
  }

  .wrapper__section1 {
    position: relative;
    height: 261px;
    margin: 0 10px 0 10px;
  }

  .big-orange {
    width: 119px;
    height: 119px;
    border-radius: 50%;
    margin: 22px 28px 66px 0;
  }

  .text-watch {
    width: 128px;
    margin: 18px 0 0 19px;
    font-size: 28px;
  }

  .btn-section1 {
    align-self: center;
    margin: 0;
  }
  /* --------------------------<SECTION 2*320>-------------------------- */
  .section2 {
    height: 532px;
    background: url(../../assets/images/flower_foto.jpg) right -41px top 38px / 73px no-repeat;
  }

  .wrapper__section2 {
    margin: 104px 10px 0;
  }

  .div-section2-text {
    width: 100%;
    height: 100%;
  }

  .title-section2 {
    font-size: 24px;
    margin: 0 0 10px 0;
  }

  .titile-description-section2 {
    margin: 0 0 20px 2px;
  }

  .subtitle-section2 {
    font-size: 24px;
    margin: 0 0 10px 2px;
  }

  .subtitle-description-section2 {
    line-height: 138%;
  }
  /* --------------------------<SECTION 3*320>-------------------------- */
  .section3 {
    height: 1522px;
    background: url(../../assets/images/palm_foto.jpg) left -81px bottom / 139px no-repeat, url(../../assets/images/strelitzia.jpg) right -22px bottom -4px / 94px no-repeat;
  }

  .wrapper__section3 {
    margin: 0 17px 20px 17px;
  }

  .container-cards {
    height: 1388px;
  }

  .btn-cards {
    display: none;
  }
  /* --------------------------<SECTION 4*320>-------------------------- */
  .section4 {
    height: 1082px;
  }

  .wrapper__section4 {
    width: 100%;
    margin: 20px 10px;
    padding: 0;
  }

  .title-section4 {
    font-size: 24px;
    margin: 20px 0 10px;
  }

  .biger-text-section4 {
    text-align: center;
    margin: 0 0 20px;
    font-size: 18px;
  }

  .covid-text-section4, .text-section4 {
    display: none;
  }

  .subtitle-section4 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .pay-feed-block {
    flex-direction: column;
    align-items: center;
    margin: 0 0 11px 0;
  }

  .green-arrow {
    transform:rotate(85deg);
    top: 197px;
    right: -62px;
  }

  .pay-feed-block .widjet:first-child .green-arrow {
    top: 190px;
    right: -62px;
  }

  .svg-arrow {
    display: none;
  }

  .border-div {
    margin-bottom: 6px;
  }

  .widjet {
    margin-bottom: 28px;
  }

  .pay-feed-block .widjet:first-child {
    margin-bottom: 44px;
  }
  /* --------------------------<SECTION 5*320>-------------------------- */
  .section5 {
    height: 580px;
    background: url(../../assets/images/leav_mobile.jpg) right bottom -30px / 51px no-repeat;
    padding: 30px 0 0;
  }

  .wrapper__section5 {
    padding: 0 10px;
  }

  .title-section5 {
    font-size: 24px;
    margin-bottom: 18px;
  }

  .testimonials {
    margin: 0 0 30px;
  }

  .user-info {
    gap: 6px;
    padding: 8px 0 12px 11px;
  }

  .user-review {
    margin: 0 13px 0 17px;
  }
  /* --------------------------<FOOTER*320>-------------------------- */
  footer {
    height: 334px;
  }

  .wrapper__footer {
    padding: 20px 10px;
  }

  .left-footer {
    flex-direction: column;
    align-items: center;
  }

  .logo-footer {
    width: 100%;
    height: 23px;
    border: none;
    margin-bottom: 30px;
  }

  .logo-text-footer {
    width: 100%;
    text-align: center;
    font-size: 19px;
  }

  .logo-svg-footer {
    top: -3px;
    left: 103px;
  }

  .logo-btn-footer .btn-link {
    display: none;
  }
  
  .social-list {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 29px;
  }
  
  .mobile {
    display: block;
  }

  .left-footer .btn-link {
    order: 1;
  }

  .btn-footer {
    margin-bottom: 20px;
  }

  .center-footer {
    order: 1;
  }

  .right-down-footer {
    margin-bottom: 30px;
  }

  .designed-by {
    font-size: 15px;
  }

.nav-footer {
  position: static;
  top: 0;
  left: 0;
  margin: 0 11px;
}

.nav-list-footer {
  gap: 30px;
}

.right-footer {
  height: 100%;
  margin-left: auto;
}

.title-footer, .email-form, .text-social {
  display: none;
}
}