@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto';
  font-size: 15px;
  background-color: #222222;
  color: white;
}

.header {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  padding: 15px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 50px;
  margin: 15px 0;
}

.logo {
  width: 200px;
}

.ru-lang,
.en-lang {
  cursor: pointer;
  transition: .3s;
}

.ru-lang:hover,
.en-lang:hover {
  color: #008966;
}

.gallery-btn {
  background-color: #303030;
  border: 1px solid #444;
  border-radius: 0.25rem;
  font-size: 16px;
  color: white;
  cursor: pointer;
  padding: 5px;
  transition: .3s;
}

.gallery-btn:hover {
  background-color: #008966;
}

.gallery-btn.active {
  background-color: #00bc8c;
}

.gallery-btn.active:hover {
  background-color: #00efb2;
}

.score-text {
  font-size: 18px;
  font-weight: 400;
}

.nav {
  min-height: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #008966;
  list-style: none;
  border-radius: 0.25rem;
  padding: 0;
}

.nav.hide {
  display: none;
}

.nav .page-item:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.nav .page-item:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item {
  flex: auto;
  text-align: center;
  height: 35px;
  padding: 8px 2%;
}

.page-item.active {
  background-color: #00bc8c;
}

.main {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  padding: 15px;
}

.random-bird {
  background-color: #303030;
  border: 1px solid #444;
  border-radius: 0.25rem;
  display: flex;
  padding: 1rem;
  margin-bottom: 25px;
}

.random-bird.hide {
  display: none;
}

.bird-name-player {
  width: 100%;
  margin: 0 25px 0 40px;
}

.bird-img,
.selected-bird-img {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  object-fit: cover;
}

.bird-name {
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 8px;
}

.player {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 5px;
  border: 1px solid #555;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
}

.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: .2s;
  width: 40px;
  height: 40px;
  border: 2px solid #00bc8c;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.play-svg, .pause-svg {
  transition: .2s;
  width: 18px;
  height: 18px;
  color: #54b1c1;
  display: none;
}

.play-svg.active, .pause-svg.active {
  display: block;
}

.timebar {
  margin: 8px 15px 0;
  flex: auto;
}

.progress {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  cursor: pointer;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: grey;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.progress::-moz-range-thumb {
  background-color: grey;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.timebar-time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
}

.volume-controls {
  display: flex;
  align-items: center;
  width: 20%;
}

.volume-svg {
  flex-shrink: 0;
  width: 40px;
  cursor: pointer;
}

.hide {
  display: none;
}


.volume {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  cursor: pointer;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: grey;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.volume::-moz-range-thumb {
  background-color: grey;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.answers-bird {
  display: flex;
  gap: 30px;
}

.answers-bird.hide {
  display: none;
}

.bird-list, .description-div {
  width: 100%;
}

.answers-list {
  list-style: none;
  padding: 0;
  background-color: #303030;
  border-radius: 0.25rem;
}

.answers-list .answer-item:first-child {
  border-top-width: 1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.answers-list .answer-item:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.answer-item {
  width: 100%;
  min-height: 50px;
  padding: 0.85rem 1.25rem;
  border: 1px solid #555;
  border-top-width: 0;
  cursor: pointer;
  transition: .3s;
}

.answer-item:hover {
  background-color: #444;
}

.li-btn {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #444;
}

.li-btn.green {
  background-color: green;
}

.li-btn.red {
  background-color: red;
}

.description-div {
  padding: 16px;
  border: 1px solid #444;
}

.selected-img-container {
  margin-right: 32px;
}

.selected-bird-name-player {
  width: 100%;
}

.selected-bird-name {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 4px;
  padding: 4px;
}

.selected-bird-species {
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #555;
  border-left-width: 0;
  border-right-width: 0;
  padding: 4px;
}

.selected-player {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 5px;
}

.selected-play-btn {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  transition: .2s;
  width: 40px;
  height: 40px;
  border: 2px solid #00bc8c;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.selected-play-svg, .selected-pause-svg {
  transition: .2s;
  width: 18px;
  height: 18px;
  color: #54b1c1;
  display: none;
}

.selected-play-svg.active, .selected-pause-svg.active {
  display: block;
}

.selected-timebar {
  margin: 8px 15px 0;
  flex: auto;
}

.selected-progress {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  cursor: pointer;
}

.selected-progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: grey;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.selected-progress::-moz-range-thumb {
  background-color: grey;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.selected-timebar-time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
}

.selected-bird {
  margin-bottom: 20px;
  display: none;
}

.selected-bird.show {
  display: flex;
}

.description-text {
  line-height: 150%;
}

.next-bnt {
  width: 100%;
  min-height: 36px;
  margin-top: 25px;
  background-color: #303030;
  border: 1px solid #444;
  border-radius: 0.25rem;
  color: white;
  font-family: 'Roboto';
  font-size: 15px;
  cursor: pointer;
  transition: .3s;
}

.next-bnt.hide {
  display: none;
}

.next-bnt.active {
  background-color: #00bc8c;
}

.next-bnt.active:hover {
  background-color: #00efb2;
}

.game-over {
  margin-top: 25px;
  padding: 64px 32px;
  background-color: #303030;
  border-radius: 0.3rem;
  display: none;
}

.game-over.show {
  display: block;
}

.game-over-title {
  text-align: center;
  font-size: 64px;
  margin-bottom: 10px;
}

.game-score-text {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.max-score-text {
  text-align: center;
  font-size: 46px;
  margin-top: 30px;
  color: #00bc8c;
  display: none;
}

.max-score-text.show {
  display: block;
}

.try-again-btn {
  width: 100%;
  min-height: 55px;
  margin-top: 25px;
  background-color: #00bc8c;
  border: 1px solid #444;
  border-radius: 0.25rem;
  color: white;
  font-family: 'Roboto';
  font-size: 15px;
  cursor: pointer;
  transition: .3s;
}

.try-again-btn.hide {
  display: none;
}

.try-again-btn:hover {
  background-color: #00efb2;
}

.footer {
  max-width: 1140px;
  width: 90%;
  margin: auto auto 0 auto;
  padding: 15px;
}

.rs-school {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
  border: 1px solid #444;
  padding: 1rem;
  border-radius: 0.25rem;
}

.footer-rs-logo {
  width: 33.3%;
  display: flex;
  justify-content: flex-start;
}

.footer-git-logo {
  width: 33.3%;
  display: flex;
  justify-content: flex-end;
}

.footer-text {
  width: 33.3%;
  text-align: center;
  font-size: 18px;
}

@media (max-width: 1000px) {

  .selected-bird.show {
    flex-direction: column;
    align-items: center;
  }

  .selected-bird-name,
  .selected-bird-species {
    text-align: center;
  }

  .volume-controls {
    width: 30%;
  }

}

@media (max-width: 700px) {

  .answers-bird {
    flex-direction: column;
  }

  .selected-bird.show {
    flex-direction: row;
  }

  .selected-bird-name,
  .selected-bird-species {
    text-align: start;
  }

  .volume-controls {
    width: 40%;
  }

  .bird-name-player {
    margin: 0 0 0 20px;
  }

  .game-over-title {
    font-size: 48px;
  }
  
  .game-score-text {
    font-size: 16px;
  }
  
  .max-score-text {
    font-size: 36px;
  }
  
}

@media (max-width: 640px) {

  .logo {
    width: 100px;
  }

  .random-bird {
    flex-direction: column;
    align-items: center;
  }

  .img-container {
    margin-bottom: 25px;
  }

  .bird-name {
    text-align: center;
  }

  .selected-bird.show {
    flex-direction: column;
  }

  .selected-bird-name,
  .selected-bird-species {
    text-align: center;
  }

  .game-over-title {
    font-size: 32px;
  }
  
  .game-score-text {
    font-size: 14px;
  }
  
  .max-score-text {
    font-size: 28px;
  }

}