body {
  background-color: #d3d3d3;
}

.garage-container {
  margin: 20px 0;
}

.garage {
  margin: 0;
  padding: 0;
  list-style: none;
}

.track {
  margin-top: 10px;
}

.garage-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.road {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 54px;
  border-bottom: dotted 2px green;
}

.launch {
  display: flex;
}

.car-controls {
  align-self: center;
}

.car {
  position: relative;
  width: 160px;
  height: 60px;
}

.car-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.rear-wheel,
.front-wheel {
  position: absolute;
  width: 30%;
  height: 42%;
  top: 51%;
  left: 8.5%;
  transform-origin: center;
}

.front-wheel {
  left: 63%;
}

.flag {
  width: 50px;
  margin-right: 160px;
}

.winners-table {
  width: 50%;
  border: solid 1px black;
  border-radius: 5px;
  border-spacing: 0;
  font-size: 24px;
  margin: 20px 0;

  & td {
    text-align: center;
    border-top: solid 1px black;
    border-right: solid 1px black;
    padding: 0;
  }

  & th {
    border-right: solid 1px black;
    padding: 0;
  }

  & tr td:last-child,
  & tr th:last-child {
    border-right: none;
  }

  .sorting-button {
    cursor: pointer;
  }
}

.winner-car {
  min-width: 80px;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 600px;
  height: 300px;
  background-color: rgba(127, 255, 212, 0.3);
  border-radius: 20px;
  font-size: 38px;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px;

  .winner-car {
    width: 300px;
  }
}

.hide {
  display: none;
}
