* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --size: 0px;
}

.field {
  width: 80vw;
  max-width: 750px;
  height: 80vw;
  max-height: 750px;
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
  margin: 3% auto 0;
}

.element {
  width: var(--size);
  height: var(--size);
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  border: solid 1px red;
  cursor: pointer;
  transition: .3s;
  top: 0;
  left: 0;
}

.empty, .empty :only-child {
  opacity: 0;
  cursor: default;
  z-index: -1;
}

.sizes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.size-text {
  margin-bottom: 10px;
}

.size {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}